Repository NikaPuturidze/zoommer-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, eslint --fix, prettier --write

chore: fill styles.scss with mixines and variables
  webapp/public/fonts/firago-medium.ttf
  webapp/public/fonts/firago-regular.ttf
  webapp/public/fonts/firago-semibold.ttf
  webapp/src/app/app.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore: add topics and mega-menu endpoints in webapp
  backend/src/main.ts
  eslint.config.mjs
  webapp/src/app/app.config.ts
  webapp/src/app/interfaces/mega-menu.interface.ts
  webapp/src/app/interfaces/topics.interface.ts
  webapp/src/app/services/api.service.ts
  webapp/src/styles.scss
Due: prettier --parser typescript --write, eslint --fix

feat: add navbar
  eslint.config.mjs
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/navigation/navigation.component.html
  webapp/src/app/navigation/navigation.component.scss
  webapp/src/app/navigation/navigation.component.ts
  webapp/src/app/services/api.service.ts
  webapp/src/styles.scss
Due: prettier --parser typescript --write, eslint --fix

revert: default body color
  webapp/src/styles.scss
Due: none

feat: add header
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/header/header.component.html
  webapp/src/app/header/header.component.scss
  webapp/src/app/header/header.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix(navbar): remove bottom margin and move null check inside <nav>
  webapp/src/app/navigation/navigation.component.html
  webapp/src/app/navigation/navigation.component.scss
Due: none

chore(commitlint): update rules for subject and type
  commitlint.config.js
Due: eslint --fix

feat(language): add language service
  webapp/src/app/header/header.component.ts
  webapp/src/app/navigation/navigation.component.scss
  webapp/src/app/navigation/navigation.component.ts
  webapp/src/app/services/language-service.service.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(app.component): unnecessary oninit
  webapp/src/app/app.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore(main): add main section with carousel and category template
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/header/header.component.ts
  webapp/src/app/main/category/category.component.html
  webapp/src/app/main/category/category.component.scss
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/main/image-carousel/image-carousel.component.html
  webapp/src/app/main/image-carousel/image-carousel.component.scss
  webapp/src/app/main/image-carousel/image-carousel.component.ts
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.scss
  webapp/src/app/main/main.component.ts
  webapp/src/app/navigation/navigation.component.ts
  webapp/src/app/services/language.service.ts
Due: prettier --parser typescript --write, eslint --fix

chore(api): add get-content method
  webapp/src/app/interfaces/content.interface.ts
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(primary): add image carousel
  webapp/src/app/interfaces/content.interface.ts
  webapp/src/app/main/image-carousel/image-carousel.component.html
  webapp/src/app/main/image-carousel/image-carousel.component.scss
  webapp/src/app/main/image-carousel/image-carousel.component.ts
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore(primary/carousel): specified access modifiers on methods
  webapp/src/app/main/image-carousel/image-carousel.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore(primary): add mega-menu method
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

fix(mega-menu): corrected endpoint url
  backend/src/mega-menu/mega-menu.service.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(interface): wrapped mega-menu interface in array
  webapp/src/app/interfaces/mega-menu.interface.ts
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

fix(interface/mega-menu): refactor to be an array
  webapp/src/app/interfaces/mega-menu.interface.ts
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(primary): add mega menu
  webapp/src/app/main/category/category.component.html
  webapp/src/app/main/category/category.component.scss
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/main/image-carousel/image-carousel.component.scss
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.scss
  webapp/src/app/main/main.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix(primary): child items undefined issue
  webapp/src/app/main/category/category.component.html
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/main/image-carousel/image-carousel.component.ts
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(mega-menu): add thumb image
  webapp/src/app/main/category/category.component.html
  webapp/src/app/main/category/category.component.scss
Due: none

fix(header): height issue resolved
  webapp/src/app/header/header.component.scss
Due: none

chore(primary): add sections component
  webapp/src/app/main/sections/sections.component.html
  webapp/src/app/main/sections/sections.component.scss
  webapp/src/app/main/sections/sections.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(interface/content): new values for enum, corrected dimenstions
  webapp/src/app/interfaces/content.interface.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(primary/carousel): move fetching to parent
  webapp/src/app/main/image-carousel/image-carousel.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(primary): fetching content and sending to child
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.scss
  webapp/src/app/main/main.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(sections): add sections
  webapp/src/app/main/sections/sections.component.html
  webapp/src/app/main/sections/sections.component.scss
  webapp/src/app/main/sections/sections.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix(navbar): branch english naming
  webapp/src/app/navigation/navigation.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix(navbar): increased flag icon width
  webapp/src/app/navigation/navigation.component.scss
Due: none

fix(sections): adjusted padding
  webapp/src/app/main/sections/sections.component.scss
Due: none

fix(sections): adjusted position of arrows
  webapp/src/app/main/sections/sections.component.scss
Due: none

refactor(enum): renamed enum
  webapp/src/app/interfaces/content.interface.ts
  webapp/src/app/main/image-carousel/image-carousel.component.ts
  webapp/src/app/main/main.component.ts
  webapp/src/app/main/sections/sections.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore(footer): add footer
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/footer/footer.component.html
  webapp/src/app/footer/footer.component.scss
  webapp/src/app/footer/footer.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore(topics): moved topics fetch to app component
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/footer/footer.component.ts
  webapp/src/app/navigation/navigation.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(footer): finished footer
  webapp/src/app/footer/footer.component.html
  webapp/src/app/footer/footer.component.scss
  webapp/src/app/footer/footer.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(mega-menui): adjusted text opacity
  webapp/src/app/main/category/category.component.scss
Due: none

style: add 'important' to firago font mixins
  webapp/src/styles.scss
Due: none

feat(api): add topic method to fetch individual topic
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

fix(language): retain saved language on reload
  webapp/src/app/services/language.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(interfaces): add itopicresponse interface
  webapp/src/app/interfaces/topic.interface.ts
Due: prettier --parser typescript --write, eslint --fix

feat(topic): add topic rest api
  backend/src/topic/topic.controller.ts
  backend/src/topic/topic.module.ts
  backend/src/topic/topic.service.ts
Due: prettier --parser typescript --write, eslint --fix

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: (any of: *.json) or (any of: *.md)
