Repository NikaPuturidze/zoommer-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["prettier --parser typescript --write", "eslint --fix"],
  "*.js": ["eslint --fix"],
  "*.json": "prettier --write",
  "*.md": "prettier --write"
}

feat(ui): add bottom bar, optimize menu loading, update styles
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/bottom-bar/bottom-bar.component.html
  webapp/src/app/bottom-bar/bottom-bar.component.scss
  webapp/src/app/bottom-bar/bottom-bar.component.ts
  webapp/src/app/burger/burger.component.html
  webapp/src/app/header/header.component.ts
  webapp/src/styles.scss
Due: prettier --parser typescript --write, eslint --fix

refactor: remove console statement
  webapp/src/app/bottom-bar/bottom-bar.component.ts
Due: prettier --parser typescript --write, eslint --fix

perf: united two flags classes into one
  webapp/src/app/auth-popup/flags.component.scss
  webapp/src/app/auth-popup/login/with-number/with-number.component.scss
  webapp/src/app/auth-popup/login/with-number/with-number.component.ts
  webapp/src/app/auth-popup/registration/reg-number/reg-number.component.scss
  webapp/src/app/auth-popup/registration/reg-number/reg-number.component.ts
  webapp/src/app/header/header.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: now see more button is shown if required
  webapp/src/app/details/additional-info/features/features.component.html
  webapp/src/app/details/additional-info/features/features.component.scss
  webapp/src/app/details/additional-info/features/features.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore: restricted console log statements
  eslint.config.mjs
Due: none

chore: remove console log statement
  webapp/src/app/details/additional-info/features/features.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: translation fix
  webapp/src/app/auth-popup/login/with-email/with-email.component.html
Due: none

style(auth): add responsivness support
  webapp/src/app/auth-popup/auth-popup.component.html
  webapp/src/app/auth-popup/auth-popup.component.scss
  webapp/src/app/auth-popup/auth-popup.component.ts
  webapp/src/app/auth-popup/flags.component.scss
  webapp/src/app/auth-popup/login/with-number/with-number.component.scss
  webapp/src/app/auth-popup/registration/reg-number/reg-number.component.scss
  webapp/src/app/bottom-bar/bottom-bar.component.html
  webapp/src/app/bottom-bar/bottom-bar.component.scss
  webapp/src/app/bottom-bar/bottom-bar.component.ts
Due: prettier --parser typescript --write, eslint --fix

style: add overflow-y hidden
  webapp/src/app/main/image-carousel/image-carousel.component.scss
Due: none

refactor: change in behaviour of features block
  webapp/src/app/details/additional-info/additional-info.component.scss
  webapp/src/app/details/additional-info/features/features.component.html
  webapp/src/app/details/additional-info/features/features.component.scss
  webapp/src/app/details/additional-info/features/features.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: resolved an error given due to missed change detection
  webapp/src/app/details/details.component.ts
Due: prettier --parser typescript --write, eslint --fix

style: transparent-kind style of header
  webapp/src/app/header/header.component.html
  webapp/src/app/header/header.component.scss
Due: none

feat: add vertical section to represent current displayed section
  webapp/src/app/details/additional-info/additional-info.component.html
  webapp/src/app/details/additional-info/additional-info.component.scss
  webapp/src/app/details/additional-info/additional-info.component.ts
  webapp/src/app/details/details.component.scss
Due: prettier --parser typescript --write, eslint --fix

fix: remove characters
  webapp/src/app/details/additional-info/warranty/warranty.component.html
Due: none

fix: resolved oveflow issue
  webapp/src/app/auth-popup/auth-popup.component.scss
Due: none

style: move cursor pointer to element
  webapp/src/app/bottom-bar/bottom-bar.component.scss
Due: none

refactor: switch to transition
  webapp/src/app/details/additional-info/additional-info.component.scss
Due: none

style: add responsivness support
  webapp/src/app/details/additional-info/additional-info.component.html
  webapp/src/app/details/additional-info/additional-info.component.scss
  webapp/src/app/details/additional-info/additional-info.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix(carousel): resolved an unnatural behaviour
  webapp/src/app/main/image-carousel/image-carousel.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: remove the route from which it was navigating to 404 page
  webapp/src/app/details/details.component.ts
  webapp/src/app/products/filter/filter.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: z-index issue
  webapp/src/app/burger/burger.component.scss
Due: none

feat(search): implement responsive search system, fix related issues
  backend/src/app.module.ts
  backend/src/popular-searches/popular-searches.controller.ts
  backend/src/popular-searches/popular-searches.module.ts
  backend/src/popular-searches/popular-searches.service.ts
  backend/src/products/products.controller.ts
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/app.routes.ts
  webapp/src/app/auth-popup/auth-popup.component.scss
  webapp/src/app/auth-popup/auth-popup.component.ts
  webapp/src/app/bottom-bar/bottom-bar.component.scss
  webapp/src/app/burger/burger.component.html
  webapp/src/app/burger/burger.component.ts
  webapp/src/app/details/overview/overview.component.scss
  webapp/src/app/header/header.component.html
  webapp/src/app/header/header.component.scss
  webapp/src/app/header/header.component.ts
  webapp/src/app/navigation/navigation.component.scss
  webapp/src/app/navigation/navigation.component.ts
  webapp/src/app/products/filter/filter.component.ts
  webapp/src/app/search-popup/search-popup.component.html
  webapp/src/app/search-popup/search-popup.component.scss
  webapp/src/app/search-popup/search-popup.component.ts
  webapp/src/app/search/search.component.html
  webapp/src/app/search/search.component.scss
  webapp/src/app/search/search.component.ts
  webapp/src/app/services/api.service.ts
  webapp/src/app/services/pipes/unique-array.pipe.ts
  webapp/src/app/services/search.service.ts
  webapp/src/interfaces/popular-searches.interface.ts
  webapp/src/interfaces/products.interface.ts
  webapp/src/styles.scss
Due: prettier --parser typescript --write, eslint --fix

perf: optimize image loading and fix duplicate api calls
  webapp/src/app/app.component.html
  webapp/src/app/main/image-carousel/image-carousel.component.html
  webapp/src/app/main/image-carousel/image-carousel.component.ts
  webapp/src/app/main/sections/sections.component.html
  webapp/src/app/main/sections/sections.component.ts
  webapp/src/app/products/catalog/catalog.component.ts
  webapp/src/app/products/filter/filter.component.html
  webapp/src/app/products/filter/filter.component.ts
  webapp/src/app/products/products.component.ts
  webapp/src/app/services/directives/srcset.directive.ts
  webapp/src/app/services/image.service.ts
  webapp/src/app/templates/templ-product/templ-product.component.html
  webapp/src/app/templates/templ-product/templ-product.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: categoryids wasnot sending when clicking next page
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.html
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: search visibility issue resolved, z-index issue resolved
  webapp/src/app/search-popup/search-popup.component.scss
  webapp/src/app/search/search.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: resolved overflow issue
  webapp/src/app/details/additional-info/warranty/warranty.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: resolved an issue of not displaying default sort
  webapp/src/app/products/products.component.html
Due: none

feat: add scroll-snap support
  webapp/src/app/main/image-carousel/image-carousel.component.scss
  webapp/src/app/main/sections/sections.component.html
  webapp/src/app/main/sections/sections.component.scss
Due: none

fix: minor adjstments
  webapp/src/app/app.component.html
  webapp/src/app/details/additional-info/features/features.component.scss
  webapp/src/app/details/overview/overview.component.scss
  webapp/src/app/details/overview/overview.component.ts
  webapp/src/app/header/header.component.scss
  webapp/src/app/search/search.component.html
  webapp/src/app/templates/templ-product/templ-product.component.html
  webapp/src/app/templates/templ-product/templ-product.component.scss
Due: prettier --parser typescript --write, eslint --fix

feat: make input work
  webapp/src/app/products/filter/filter.component.html
  webapp/src/app/products/filter/filter.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: adjustments
  webapp/angular.json
  webapp/src/app/details/overview/overview.component.scss
Due: prettier --write
