Repository NikaPuturidze/zoommer-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["prettier --parser typescript --write", "eslint --fix"],
  "*.js": ["eslint --fix"],
  "*.json": "prettier --write",
  "*.md": "prettier --write"
}

style: adjusted responsivness
  webapp/src/app/products/catalog/catalog.component.html
  webapp/src/app/products/products.component.html
  webapp/src/app/templates/templ-product/templ-product.component.scss
Due: none

fix: now category toggle works
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: see more button is only visible if needed
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.html
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat: add favicon
  webapp/src/index.html
Due: none

feat: add title
  webapp/src/app/app.routes.ts
  webapp/src/app/details/details.component.ts
  webapp/src/app/info/info.component.ts
  webapp/src/app/products/products.component.ts
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(backend): add authorization header
  backend/src/all-categories/all-categories.controller.ts
  backend/src/all-categories/all-categories.service.ts
  backend/src/content/content.controller.ts
  backend/src/content/content.service.ts
  backend/src/details/details.controller.ts
  backend/src/details/details.service.ts
  backend/src/filter/filter.controller.ts
  backend/src/filter/filter.service.ts
  backend/src/mega-menu/mega-menu.controller.ts
  backend/src/mega-menu/mega-menu.service.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
  backend/src/promotion-detail/promotion-detail.controller.ts
  backend/src/promotion-detail/promotion-detail.service.ts
  backend/src/promotion/promotion.controller.ts
  backend/src/promotion/promotion.service.ts
  backend/src/topic/topic.controller.ts
  backend/src/topic/topic.service.ts
  backend/src/topics/topics.controller.ts
  backend/src/topics/topics.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(services): add language interceptor
  webapp/src/app/services/interceptors/language-interceptor.service.ts
Due: prettier --parser typescript --write, eslint --fix

chore: add axios and cookie dependencies
  backend/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(services): add service to handle access token set
  webapp/src/app/services/auth.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(backend): add cookie rest api to get access token
  backend/src/cookie/cookie.controller.ts
  backend/src/cookie/cookie.module.ts
  backend/src/cookie/cookie.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat: now accept-language is handled by interceptor
  backend/src/app.module.ts
  webapp/package.json
  webapp/src/app/all-categories/all-categories.component.ts
  webapp/src/app/app.component.ts
  webapp/src/app/app.config.ts
  webapp/src/app/details/details.component.ts
  webapp/src/app/header/header.component.ts
  webapp/src/app/info/info.component.ts
  webapp/src/app/main/main.component.ts
  webapp/src/app/products/filter/filter.component.ts
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.ts
  webapp/src/app/promotion/promotion.component.ts
  webapp/src/app/services/api.service.ts
  webapp/src/app/services/interceptors/auth-interceptor.service.ts
Due: prettier --parser typescript --write, eslint --fix, prettier --write

fix: now it wont proceed to content till access token checked
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
  webapp/src/app/services/auth.service.ts
Due: prettier --parser typescript --write, eslint --fix

fix: arrows now appear only under certian condition
  webapp/src/app/main/sections/sections.component.html
Due: none

chore: move interfaces folder to src
  webapp/src/app/all-categories/all-categories.component.ts
  webapp/src/app/app.component.ts
  webapp/src/app/burger/burger.component.ts
  webapp/src/app/details/additional-info/accesories/accesories.component.ts
  webapp/src/app/details/additional-info/additional-info.component.ts
  webapp/src/app/details/additional-info/branches/branches.component.ts
  webapp/src/app/details/additional-info/features/features.component.ts
  webapp/src/app/details/additional-info/simmilar/similar.component.ts
  webapp/src/app/details/additional-info/warranty/warranty.component.ts
  webapp/src/app/details/bundles/bundles.component.ts
  webapp/src/app/details/buy/buy.component.ts
  webapp/src/app/details/details.component.ts
  webapp/src/app/details/discount/discount.component.ts
  webapp/src/app/details/overview/overview.component.ts
  webapp/src/app/footer/footer.component.ts
  webapp/src/app/header/header.component.ts
  webapp/src/app/info/info.component.ts
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/main/image-carousel/image-carousel.component.ts
  webapp/src/app/main/main.component.ts
  webapp/src/app/main/sections/sections.component.ts
  webapp/src/app/navigation/navigation.component.ts
  webapp/src/app/products/catalog/catalog.component.ts
  webapp/src/app/products/filter/filter.component.ts
  webapp/src/app/products/products.component.ts
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.ts
  webapp/src/app/promotion/promotion.component.ts
  webapp/src/app/services/api.service.ts
  webapp/src/app/services/burger.service.ts
  webapp/src/app/templates/templ-product/templ-product.component.ts
  webapp/src/interfaces/all-categories.interface.ts
  webapp/src/interfaces/content.interface.ts
  webapp/src/interfaces/filter.interface.ts
  webapp/src/interfaces/mega-menu.interface.ts
  webapp/src/interfaces/product.interface.ts
  webapp/src/interfaces/products.interface.ts
  webapp/src/interfaces/promotion-details.interface.ts
  webapp/src/interfaces/promotion.interface.ts
  webapp/src/interfaces/topic.interface.ts
  webapp/src/interfaces/topics.interface.ts
Due: prettier --parser typescript --write, eslint --fix

style: remove max-height
  webapp/src/app/main/sections/sections.component.scss
Due: none

fix: change arrows visibility condition
  webapp/src/app/main/main.component.ts
  webapp/src/app/main/sections/sections.component.html
Due: prettier --parser typescript --write, eslint --fix

chore: configured eslint scripts
  package.json
  webapp/package.json
Due: prettier --write

feat: add sticky behaviour to header
  webapp/src/app/header/header.component.scss
  webapp/src/app/header/header.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: border bottom now appears only under media condition
  webapp/src/app/details/overview/overview.component.scss
Due: none

fix: minor fixes
  webapp/src/app/details/overview/overview.component.ts
  webapp/src/app/main/main.component.ts
Due: prettier --parser typescript --write, eslint --fix

style: close button appear under media condition
  webapp/src/app/products/filter/filter.component.html
  webapp/src/app/products/filter/filter.component.scss
Due: none

feat: add not-found route to redirect to
  webapp/src/app/app.routes.ts
Due: prettier --parser typescript --write, eslint --fix

chore: add ngx-translate and ngneat/until-destroy
  pnpm-lock.yaml
  webapp/package.json
Due: prettier --write

feat(eslint): disabled forbidden non null assertion
  eslint.config.mjs
Due: none

fix: now style affect only slider
  webapp/src/app/products/filter/filter.component.scss
Due: none

revert: no need for translation in backend
  backend/src/details/details.service.ts
Due: prettier --parser typescript --write, eslint --fix

revert: remove of translations interface
  webapp/src/interfaces/product.interface.ts
Due: prettier --parser typescript --write, eslint --fix

fix: resolved memory-leak error
  webapp/src/app/products/filter/filter.component.ts
Due: prettier --parser typescript --write, eslint --fix

test: temporal change of build id
  backend/src/promotion/promotion.service.ts
Due: prettier --parser typescript --write, eslint --fix

style: minor style fixes
  webapp/src/app/main/sections/sections.component.html
  webapp/src/app/templates/templ-product/templ-product.component.html
  webapp/src/app/templates/templ-product/templ-product.component.scss
Due: none

style: now navigation div dont shrink
  webapp/src/app/header/header.component.scss
Due: none

perf: lowered cls by adding min-height
  webapp/src/app/promotion/promotion-detail/promotion-detail.component.scss
Due: none

feat: add separate component for pulse loader
  webapp/src/app/ui/loaders/pulse-loader/pulse-loader.component.html
  webapp/src/app/ui/loaders/pulse-loader/pulse-loader.component.scss
  webapp/src/app/ui/loaders/pulse-loader/pulse-loader.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(info): improves error handling for topic loading
  webapp/src/app/app.routes.ts
  webapp/src/app/info/info.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix(auth): add proper route to navigate
  webapp/src/app/auth-popup/registration/reg-number/reg-number.component.html
Due: none

fix(auth): on close popup state sets to login
  webapp/src/app/services/auth.service.ts
Due: prettier --parser typescript --write, eslint --fix

style(header): add text-transform
  webapp/src/app/header/header.component.scss
Due: none

style: fixed an issue where section did not have offest from right
  webapp/src/app/main/sections/sections.component.scss
Due: none
