Repository NikaPuturidze/zoommer-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, eslint --fix, prettier --write

feat(carousel): add better arrow display handler
  webapp/src/app/main/image-carousel/image-carousel.component.html
Due: none

test(carousel): new conditions on slider swiping
  webapp/src/app/main/image-carousel/image-carousel.component.html
  webapp/src/app/main/image-carousel/image-carousel.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(eslint): add complexity rule
  eslint.config.mjs
Due: none

feat(products): add sorting query parameters
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
  webapp/src/app/interfaces/products.interface.ts
Due: prettier --parser typescript --write, eslint --fix

feat(api): add sorting query parameters
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(products): add sorting
  webapp/src/app/products/products.component.html
  webapp/src/app/products/products.component.scss
  webapp/src/app/products/products.component.ts
Due: prettier --parser typescript --write, eslint --fix

style: add roboto font
  webapp/src/app/products/filter/filter.component.scss
Due: none

fix(products): adjusted response logic
  backend/src/products/products.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(service): add localstorage service to observe localstorage
  webapp/src/app/services/localstorage.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(products): add grid view system and toggler for it
  webapp/src/app/products/catalog/catalog.component.html
  webapp/src/app/products/catalog/catalog.component.scss
  webapp/src/app/products/catalog/catalog.component.ts
  webapp/src/app/products/products.component.html
  webapp/src/app/products/products.component.scss
  webapp/src/app/products/products.component.ts
  webapp/src/app/templates/templ-product/templ-product.component.html
  webapp/src/app/templates/templ-product/templ-product.component.scss
  webapp/src/app/templates/templ-product/templ-product.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix(products): prevent duplicate history entries
  webapp/src/app/products/filter/filter.component.ts
Due: prettier --parser typescript --write, eslint --fix

style: removed transition
  webapp/src/app/templates/templ-product/templ-product.component.scss
Due: none

fix: add text elipssis
  webapp/src/app/templates/templ-product/templ-product.component.scss
Due: none

perf: add check for showgrid it case of fallback
  webapp/src/app/main/main.component.ts
Due: prettier --parser typescript --write, eslint --fix

style: removed best div in case of showgrid true
  webapp/src/app/templates/templ-product/templ-product.component.html
Due: none

refactor: unnecessary component import
  webapp/src/app/app.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor: extended size of budget
  webapp/angular.json
Due: prettier --write

fix(products): prevent duplicate history entries
  webapp/src/app/products/products.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor: add navigation method to navigate; remove router module
  webapp/src/app/main/category/category.component.html
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/navigation/navigation.component.html
  webapp/src/app/navigation/navigation.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: language change now updates filters and refetches products
  webapp/src/app/products/catalog/catalog.component.html
  webapp/src/app/products/catalog/catalog.component.ts
  webapp/src/app/products/filter/filter.component.ts
  webapp/src/app/products/products.component.html
  webapp/src/app/products/products.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor: move to parent
  .editorconfig
Due: none

fix(backend): switch to axios to fix timeout, add optional caching
  backend/src/content/content.service.ts
  backend/src/filter/filter.service.ts
  backend/src/mega-menu/mega-menu.service.ts
  backend/src/products/products.service.ts
  backend/src/topic/topic.service.ts
  backend/src/topics/topics.service.ts
Due: prettier --parser typescript --write, eslint --fix

fix(backend): replace axios with native https.request and remove caching
  backend/src/content/content.service.ts
  backend/src/filter/filter.service.ts
  backend/src/mega-menu/mega-menu.service.ts
  backend/src/products/products.service.ts
  backend/src/topic/topic.service.ts
  backend/src/topics/topics.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat: add skeleton loaders
  pnpm-lock.yaml
  webapp/package.json
  webapp/src/app/main/category/category.component.html
  webapp/src/app/main/category/category.component.ts
  webapp/src/app/main/image-carousel/image-carousel.component.html
  webapp/src/app/main/image-carousel/image-carousel.component.scss
  webapp/src/app/main/image-carousel/image-carousel.component.ts
  webapp/src/app/main/main.component.html
  webapp/src/app/main/main.component.ts
  webapp/src/app/products/catalog/catalog.component.html
  webapp/src/app/products/catalog/catalog.component.scss
  webapp/src/app/products/catalog/catalog.component.ts
  webapp/src/app/products/filter/filter.component.html
  webapp/src/app/products/filter/filter.component.ts
  webapp/src/app/products/products.component.html
  webapp/src/app/products/products.component.ts
Due: prettier --parser typescript --write, eslint --fix, prettier --write

perf(footer): add simplechanges in order to improve lcp
  webapp/src/app/footer/footer.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(template): add inputs to be able to send data separately
  webapp/src/app/templates/templ-product/templ-product.component.html
  webapp/src/app/templates/templ-product/templ-product.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(details): add rest api
  backend/src/app.module.ts
  backend/src/details/details.controller.ts
  backend/src/details/details.module.ts
  backend/src/details/details.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(interface): add details interface
  webapp/src/app/interfaces/product.interface.ts
Due: prettier --parser typescript --write, eslint --fix

feat: add routing
  webapp/src/app/main/sections/sections.component.html
Due: none

feat(details): add buy interface and translation
  backend/src/details/details.service.ts
  webapp/src/app/interfaces/product.interface.ts
Due: prettier --parser typescript --write, eslint --fix

feat(details): add product details page
  webapp/src/app/app.routes.ts
  webapp/src/app/details/additional-info/accesories/accesories.component.html
  webapp/src/app/details/additional-info/accesories/accesories.component.scss
  webapp/src/app/details/additional-info/accesories/accesories.component.ts
  webapp/src/app/details/additional-info/additional-info.component.html
  webapp/src/app/details/additional-info/additional-info.component.scss
  webapp/src/app/details/additional-info/additional-info.component.ts
  webapp/src/app/details/additional-info/branches/branches.component.html
  webapp/src/app/details/additional-info/branches/branches.component.scss
  webapp/src/app/details/additional-info/branches/branches.component.ts
  webapp/src/app/details/additional-info/features/features.component.html
  webapp/src/app/details/additional-info/features/features.component.scss
  webapp/src/app/details/additional-info/features/features.component.ts
  webapp/src/app/details/additional-info/simmilar/similar.component.html
  webapp/src/app/details/additional-info/simmilar/similar.component.scss
  webapp/src/app/details/additional-info/simmilar/similar.component.ts
  webapp/src/app/details/additional-info/warranty/warranty.component.html
  webapp/src/app/details/additional-info/warranty/warranty.component.scss
  webapp/src/app/details/additional-info/warranty/warranty.component.ts
  webapp/src/app/details/bundles/bundles.component.html
  webapp/src/app/details/bundles/bundles.component.scss
  webapp/src/app/details/bundles/bundles.component.ts
  webapp/src/app/details/buy/buy.component.html
  webapp/src/app/details/buy/buy.component.scss
  webapp/src/app/details/buy/buy.component.ts
  webapp/src/app/details/details.component.html
  webapp/src/app/details/details.component.scss
  webapp/src/app/details/details.component.ts
  webapp/src/app/details/overview/overview.component.html
  webapp/src/app/details/overview/overview.component.scss
  webapp/src/app/details/overview/overview.component.ts
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

fix: details now fetches once instead of twice before
  webapp/src/app/details/details.component.ts
Due: prettier --parser typescript --write, eslint --fix

fix: adjusted translations
  backend/src/details/details.service.ts
Due: prettier --parser typescript --write, eslint --fix

fix: simplified logic
  webapp/src/app/details/buy/buy.component.html
Due: none

fix: add missing translation
  webapp/src/app/details/bundles/bundles.component.html
  webapp/src/app/details/bundles/bundles.component.ts
  webapp/src/app/details/details.component.html
Due: prettier --parser typescript --write, eslint --fix

feat: translated main word
  backend/src/details/details.service.ts
  webapp/src/app/details/details.component.html
  webapp/src/app/details/overview/overview.component.html
  webapp/src/app/details/overview/overview.component.ts
  webapp/src/app/interfaces/product.interface.ts
Due: prettier --parser typescript --write, eslint --fix

style: add skeleton loader
  webapp/src/app/details/additional-info/additional-info.component.html
  webapp/src/app/details/additional-info/additional-info.component.ts
  webapp/src/app/details/buy/buy.component.html
  webapp/src/app/details/buy/buy.component.ts
  webapp/src/app/details/details.component.html
  webapp/src/app/details/details.component.scss
  webapp/src/app/details/details.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat: add readme.md
  README.md
Due: prettier --write

fix: now branches section has enough space
  webapp/src/app/details/additional-info/branches/branches.component.html
Due: none

feat: add discount section
  webapp/src/app/details/details.component.html
  webapp/src/app/details/details.component.ts
  webapp/src/app/details/discount/discount.component.html
  webapp/src/app/details/discount/discount.component.scss
  webapp/src/app/details/discount/discount.component.ts
Due: prettier --parser typescript --write, eslint --fix

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: (any of: *.json) or (any of: *.md)
