Repository NikaPuturidze/zoommer-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["prettier --parser typescript --write", "eslint --fix"],
  "*.js": ["eslint --fix"],
  "*.json": "prettier --write",
  "*.md": "prettier --write"
}

feat(header): add navigation to main on logo click
  webapp/src/app/header/header.component.html
  webapp/src/app/header/header.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(info): add info
  webapp/src/app/info/info.component.html
  webapp/src/app/info/info.component.scss
  webapp/src/app/info/info.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(navbar): add routing for each item in navigation
  webapp/src/app/navigation/navigation.component.html
  webapp/src/app/navigation/navigation.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(routing): add router outlet
  webapp/src/app/app.component.html
  webapp/src/app/app.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore(routing): add necessary routes
  webapp/src/app/app.routes.ts
Due: prettier --parser typescript --write, eslint --fix

chore(eslint): disabled dot notation rule
  eslint.config.mjs
Due: none

fix(info): convert to index signature
  webapp/src/app/info/info.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(eslint): switch to ts standart
  eslint.config.mjs
Due: none

feat(products): add rest api
  backend/src/products/products.controller.ts
  backend/src/products/products.module.ts
  backend/src/products/products.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(api): add products method to fetch products
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(routing): add route for products component
  webapp/src/app/app.routes.ts
Due: prettier --parser typescript --write, eslint --fix

feat(routing): add products component in imports
  webapp/src/app/app.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(interfaces): add new properties
  webapp/src/app/interfaces/content.interface.ts
Due: prettier --parser typescript --write, eslint --fix

feat(interfaces): add interface for products
  webapp/src/app/interfaces/products.interface.ts
Due: prettier --parser typescript --write, eslint --fix

feat(routing): add routing for each category
  webapp/src/app/main/category/category.component.html
Due: none

feat(routing): imported router module
  webapp/src/app/main/category/category.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(template): extract product code into reusable component
  webapp/src/app/templates/templ-product/templ-product.component.html
  webapp/src/app/templates/templ-product/templ-product.component.scss
  webapp/src/app/templates/templ-product/templ-product.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(navbar): moved click method on div
  webapp/src/app/navigation/navigation.component.html
Due: none

feat(sections): use product selector instead of code
  webapp/src/app/main/sections/sections.component.html
  webapp/src/app/main/sections/sections.component.scss
  webapp/src/app/main/sections/sections.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat(products): add products component
  webapp/src/app/products/products.component.html
  webapp/src/app/products/products.component.scss
  webapp/src/app/products/products.component.ts
Due: prettier --parser typescript --write, eslint --fix

style: add min height for sections
  webapp/src/app/main/sections/sections.component.html
  webapp/src/app/main/sections/sections.component.scss
Due: none

feat(filter): add filter rest api
  backend/src/filter/filter.controller.ts
  backend/src/filter/filter.module.ts
  backend/src/filter/filter.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(api): add method to get product filters
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(interfaces): add filter interface
  webapp/src/app/interfaces/filter.interface.ts
Due: prettier --parser typescript --write, eslint --fix

feat(eslint): add more checks
  eslint.config.mjs
Due: none

fix: return of app.module
  backend/src/app.module.ts
Due: prettier --parser typescript --write, eslint --fix

chore: get rid of app.module
  .gitignore
Due: none

refactor(eslint): minor changes
  eslint.config.mjs
Due: none

chore: add ngx-slider
  pnpm-lock.yaml
  webapp/package.json
Due: prettier --write

feat(products): add new query parameters
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat(interfaces): add new properties
  webapp/src/app/interfaces/filter.interface.ts
  webapp/src/app/interfaces/products.interface.ts
Due: prettier --parser typescript --write, eslint --fix

fix(carousel): add neccesity check on arrows
  webapp/src/app/main/image-carousel/image-carousel.component.html
Due: none

feat(api/products): add query parameters to send
  webapp/src/app/services/api.service.ts
Due: prettier --parser typescript --write, eslint --fix

feat: add products component
  webapp/src/app/products/products.component.html
  webapp/src/app/products/products.component.scss
  webapp/src/app/products/products.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat: add filter component
  webapp/src/app/products/filter/filter.component.html
  webapp/src/app/products/filter/filter.component.scss
  webapp/src/app/products/filter/filter.component.ts
Due: prettier --parser typescript --write, eslint --fix

feat: add catalog component
  webapp/src/app/products/catalog/catalog.component.html
  webapp/src/app/products/catalog/catalog.component.scss
  webapp/src/app/products/catalog/catalog.component.ts
Due: prettier --parser typescript --write, eslint --fix

refactor(carousel): new check system
  webapp/src/app/main/image-carousel/image-carousel.component.html
  webapp/src/app/main/image-carousel/image-carousel.component.ts
Due: prettier --parser typescript --write, eslint --fix

chore: add git repository url
  package.json
Due: prettier --write

feat: add cursor pointer
  webapp/src/app/products/filter/filter.component.scss
Due: none

refactor(carousel): change of carousel swiping system
  webapp/src/app/main/image-carousel/image-carousel.component.ts
Due: prettier --parser typescript --write, eslint --fix
